<article class="thesis">
  <div class="chart">
    <a href="/security/{{thesis.security_id}}">{{thesis.security_id}}</a>
    <div>{{thesis.security.name}}</div>
    <img src="/dummy.png">
  </div>

  <div class="row">
    <div class="col-9">
      <h3 class="thesis_title">
        {{thesis.title}}
      </h3>
    </div>
    <div class="col-3">
      <div class="meta">
        Posted by {{thesis.user.username}} on {{format_date thesis.createdAt}} | <a>{{thesis.comments.length}} comment(s)</a>
      </div>
    </div>
  </div>
  <div class="thesis_text">
    {{thesis.thesis_text}}
  </div>
</article>

{{#if loggedIn}}
  <form class="comment-form">
    <div class="container">
      <div class="row">
      Add a comment and contribute to the body of knowledge and research...
      </div>

      <div class="row">
        <div class="col-9">
          <textarea id="comment-text" name="comment-text"></textarea>
        </div>
        <div class="col-3 meta">
          <div class="row  comment-adds">
            <label class="meta comment-adds-item" for="comment-opinion">Opinion of Thesis:</label>
          </div>
          <div class="row comment-adds">
            <select class="comment-adds-item" id="comment-opinion" name="comment-opinion" required>
              <option value="neutral">Neutral</option>
              <option value="support">Support</option>
              <option value="oppose">Oppose</option>
            </select>
          </div>
          <div class="row comment-adds"> 
            <button class="comment-adds-item" type="submit">Add Comment</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{{/if}}


{{> comments thesis.comments}}


<script src="/javascript/newcomment.js"></script>